discord.py>=2.7.0
pynacl>=1.5.0
python-dotenv>=1.0.0
davey>=0.1.0
edge-tts>=7.0.0
yt-dlp>=2024.0.0
Pillow>=10.0.0
discord-ext-voice-recv>=0.5.0a0
speechrecognition>=3.14.0
aiohttp>=3.9.0
requests>=2.31.0
freefire-api>=1.0.0
